body {
	margin-top: 3em;
}

div.swagger-header {
	position:fixed;
	height: 3em;
	width: 100%;
	top: 0;
	left: 0;
	background: #4FABB4;
	color:#fff;
	font-family: "Open Sans", sans-serif !important;
	#logout {
		position:absolute;
		top: 50%;
		right: 2em;
		transform:translateY(-50%);
		color: inherit;
	}
}